#
# Properties of the Boga server, that handles the agents
# Use this file to set up your individual preferences
#

#
# Default port on which to listen
#
port=10101

#
# Directory which contains the agents subdirectory structure.
# For example agentsPath may contain a directory called
# org/kaariboga/agents which contains agent class files.
# There may be several directories within agentsPath.
# The ClassManager needs this path to serve byte codes
# on a GET_CLASS request.
#
# agentsPath=C:\\javalib\\kb10101\\
agentsPath=/home/dirk/javalib/kb10101/


#
# If the server is going online using a dial up
# connection, it usually gets another IP address 
# every time. If useDynamicIP=true, the server
# will determine it's IP address every time it
# goes online.
# At the moment the IP server is usually identical
# with the domain server
#
#ipServer=192.168.0.1

#
# The class manager holds the byte code of a loaded class
# for some time after all kaaribogas have departed.
#
byteCodeDelay=100000


#
# The plug-ins that should be loaded
#
plugIn.0=org.kaariboga.plugins.helloPlugIn.HelloPlugIn
#plugIn.0.configFile=/home/dirk/javalib/kb10101/org/kaariboga/config/helloPlugIn.config
plugIn.1=org.kaariboga.plugins.domainPlugIn.DomainPlugIn
plugIn.1.configFile=/home/dirk/javalib/kb10101/org/kaariboga/config/domainPlugIn.config



#
# name of the logfile
#
#logFileName=/home/dirk/javalib/kb10101/boga.log

#
#  name of the logfile backup
#
#logFileNameBak=/home/dirk/javalib/kb10101/boga.log~

#
# maximum size of logfile in bytes
# 
maxLogSize=10000

#
# Level up to which log messages should be written.
# May be:
# none, error, warning, success, information, debug
#
loglevel=debug






