#
# Properties for the domainserver
#

#
# name of the logfile
#
logFileName=/home/dirk/javalib/domainserver.log

#
#  name of the logfile backup
#
logFileNameBak=/home/dirk/javalib/domainserver.log~

#
# maximum size of logfile in bytes
# 
maxLogSize=10000

#
# Level up to which log messages should be written.
# May be:
# none, error, warning, success, information, debug
#
loglevel=debug


#
# port on which the server should listen for incoming messages
#
port=10100


#
# time interval in millis after which old base entries should be deleted
#
timeInterval=60000


 





